.post-group {
    border: 3px solid rgb(5, 80, 105);
    margin-bottom: 5px;
    width: 650px;
    font-family: 'Nerko One', cursive;
    font-size: 1.2vmin;
    
}

.post-group:hover {
    cursor: pointer;
}

.post-group .post-image {
    width: 100%;
}

.post-group .group 
{
    display: flex;
    justify-content: space-around;
}

.post-group .group .like-button {
    border-radius: 10px;
    border: 1px black solid;
    height: 40px;
    margin-top: 10px;
    
}

.post-group .group .like-button:hover {
    cursor: pointer;
    background-color: lightseagreen;
}
 
